@import "variables";
@import "components/_Header.scss";
@import "components/_Products.scss";
@import "components/_ProductsCard.scss";
@import "components/_Cart.scss";
@import "components/_CardItem.scss";
@import "components/_Checkout.scss";
@import "components/_AddressForm";
@import "components/_CustomInput.scss";
@import "components/_PaymentForm.scss";
@import "components/_Review.scss";

.section-2 {
	color: #000;
	text-align: center;
}

.section-2 header h1 {
	color: #000;
}

.products h2 {
	font-size: 3rem;
}





* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::before, ::after {
	position: absolute;
	content: "";
}



html {
	width: 100%;
	height: 100%;
	font-size: 20px;
}

body {
	position: relative;
	font-family: "Roboto";
	width: 100%;
	height: 100%;

}

main {
	position: relative;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

li {
	list-style: none;
} 

a {
	color: $color;	
	text-decoration: none;
	cursor: pointer;
}

input {
	outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  appearance: none;
}

button {
	cursor: pointer;
	outline: none;
	background: none;
	border: none;
}

img {
	width: 100%;
	object-fit: contain;
}


